.PCdesign {
    background-color: #524af9eb !important;
}
.PCdesign:hover {
    box-shadow: 1px 1px 1px 1px rgb(0, 19, 25);
}

.PCdesign2 {
    background-color: #bbeded6e !important;

}
.PCdesign2:hover {
    box-shadow: 1px 1px 1px 1px rgb(0, 19, 25);
}

.PCdesign3 {
    background-color: #c2f5a96e !important;
}
.PCdesign3:hover {
    box-shadow: 1px 1px 1px 1px rgb(0, 19, 25);
}

.PCdesign4 {
    background-color: #2fa80ed2 !important;
}

.PCdesign4:hover {
    box-shadow: 1px 1px 1px 1px rgb(0, 19, 25);
}




