.WTdesign {
    background-color: #bbeded6e !important;

}
.WTdesign:hover {
    box-shadow: 1px 1px 1px 1px rgb(0, 19, 25);
}

.WTdesign2 {
    background-color: #c2f5a96e !important;
}

.WTdesign2:hover {
    box-shadow: 1px 1px 1px 1px rgb(0, 19, 25);
}