.top_div {
  width: 100%;
  height: 80px;
  color: #fff;
  background: #0f1103;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#logo {
  width: 80px;
  height: 60px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.main_div {
  width: 100vw;
}

.our-webcoderskull .cnt-block:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border: 0;
}

.our-webcoderskull {
  background: url("http://www.webcoderskull.com/img/right-sider-banner.png") no-repeat center top / cover;
  background-size: 100% 100%;
}

.our-webcoderskull .cnt-block {
  float: left;
  width: 100%;
  background: #fff;
  padding: 30px 20px;
  text-align: center;
  border: 2px solid #d5d5d5;
  margin: 0 0 28px;
}

.our-webcoderskull .cnt-block figure {
  width: 148px;
  height: 148px;
  border-radius: 100%;
  display: inline-block;
  margin-bottom: 15px;
}

.our-webcoderskull .cnt-block img {
  width: 148px;
  height: 148px;
  border-radius: 100%;
}

.our-webcoderskull .cnt-block h3 {
  color: #2a2a2a;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-transform: uppercase;
}

.our-webcoderskull .cnt-block h3 a {
  text-decoration: none;
  color: #2a2a2a;
}

.our-webcoderskull .cnt-block h3 a:hover {
  color: #337ab7;
}

.our-webcoderskull .cnt-block p {
  color: #2a2a2a;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

.our-webcoderskull .cnt-block .follow-us {
  margin: 20px 0 0;
}

.our-webcoderskull .cnt-block .follow-us li {
  display: inline-block;
  width: auto;
  margin: 0 5px;
}

.our-webcoderskull .cnt-block .follow-us li .fa {
  font-size: 24px;
  color: #767676;
}

.our-webcoderskull .cnt-block .follow-us li .fa:hover {
  color: #025a8e;
}

.container.slider-top-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* *****************media query******************** */

@media (min-width: 770px) and (max-width: 1050px) {
  .top_div {
    width: 1000px;
  }
}

@media (max-width: 768px) {
  .top_div {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    font-size: 22px;
  }

  #logo {
    margin: auto;
  }

  .main_div {
    width: 107% !important;
  }

}

@media (max-width:479px) {
  .top_div {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    font-size: 18px;
  }

  #logo {
    margin-top: 0.3rem;
    margin-left: -3px;
    width: 20%;
  }

  .main_div {
    width: 100%;
  }

  .heading {
    margin-left: 2rem !important;
  }
}

@media (max-width: 330px) {
  .top_div {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    font-size: 18px;
  }

  .PCNavbar-6 {
    width: 114.5% !important;
  }

  .PCNavbar-7 {
    width: 115.5% !important;
  }

  #logo {
    margin-left: -3px;
    width: 20%;
  }

  .main_div {
    width: 100%;
  }

}