@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700");
body {
  font-family: "Open Sans", sans-serif;
}
*:hover {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
h1 {
  float: left;
  width: 100%;
  color: #232323;
  margin-bottom: 30px;
  font-size: 14px;
}
h1 span {
  font-family: "Libre Baskerville", serif;
  display: block;
  font-size: 45px;
  text-transform: none;
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: 700;
}
h1 a {
  color: #131313;
  font-weight: bold;
}

.profile-card-1 {
  font-family: "Open Sans", Arial, sans-serif;
  /* position: relative; */
  overflow: hidden;
  width: 100%;
  color: #ffffff;
  text-align: center;
  height: 368px;
  border: none;
}
.profile-card-1 .background {
  width: 100%;
  vertical-align: top;
  opacity: 0.9;
  object-fit: cover;
  /* -webkit-filter: blur(5px); */
  filter: blur(5px);
  /* -webkit-transform: scale(1.8); */
  transform: scale(1.3);
}
.profile-card-1 .card-content {
  width: 100%;
  padding: 15px 25px;
  position: absolute;
  left: 0;
  top: 50%;
}
.profile-card-1 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  object-fit: contain;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card-1 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size: 25px;
}
.profile-card-1 h2 small {
  display: block;
  font-size: 15px;
  margin-top: 10px;
}
.profile-card-1 i {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin: 0 5px;
}
.profile-card-1 .icon-block {
  float: left;
  width: 100%;
  margin-top: 15px;
}
.profile-card-1 .icon-block a {
  text-decoration: none;
}
.profile-card-1 i:hover {
  background-color: #fff;
  color: #2e3434;
  text-decoration: none;
}
/* .row{
  justify-content: center;
} */
