@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #0073ff;
  --color-white: #e9e9e9;
  --color-black: #141d28;
  --color-black-1: #212b38;
}

.logo {
  color: var(--color-white);
  font-size: 30px;
}

.logo span {
  color: var(--color-primary);
}

.menu-bar {
  background-color: black;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;

  position: relative;
}

.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */

  position: relative;
}

.menu-bar ul li a {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;

  transition: all 0.3s;
}

.menu-bar ul li a:hover {
  color: var(--color-primary);
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--color-black);
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}

.dropdown-menu-1 {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: var(--color-black);
}
.end_bars {
  background: #000;
  color: #fff;
  justify-content: space-around;
  text-align: justify;
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-evenly; */
}
/* .end_bars_inside { */
/* text-align: left;
  margin-left: 50px;
  margin-bottom: 20px; */
/* } */
/* .end_bars_inside_1 { */
/* margin-right: -50px;
  margin-top:-40px;
  text-align: right;
  margin-right: 0px;
  margin-bottom: 20px; */
/* } */

/* .logo_part .img_3 .fa-facebook,
.fa-instagram,
.fa-linkedin {
  font-size: 3rem;
  color: #fff;
  margin: 15px;
} */
/* .img_3 .fa-facebook:hover {
  color: rgb(0, 110, 255);
}
.img_3 .fa-instagram:hover {
  color: rgb(255, 0, 191);
}
.img_3 .fa-linkedin:hover {
  color: rgb(255, 123, 0);
} */

.image {
  height: 500px;
  width: 95%;
  margin-left: 15px;
  margin-right: 10px;
  padding: 5x;
}
.headingname {
  /* margin-top:40%; */
  /* padding-top:60px; */
  margin-top: 60px;
  color: rgb(236, 183, 10);
  font-size: 50px;
}
.family {
  /* background-image:url("images/newimage.webp"); */
  /* background-image: url("https://i.pinimg.com/originals/62/39/4d/62394d753859943e6a1a36443ef78795.gif"); */
  /* background-image:url("https://camo.githubusercontent.com/65475c61a0b084c0f8aafef3cef5585752f6771b326c33a3a8c70e020c4afe6d/68747470733a2f2f692e70696e696d672e636f6d2f6f726967696e616c732f33302f62382f31372f33306238313734633666316130376530616639626366343166656333613566352e676966"); */
  background-image: url("https://thumbs.gfycat.com/ForkedInexperiencedGrouse.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* .family1 {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow-x: hidden;
  object-fit: inherit;
} */
/* .main_div {
  width: 100vw;
} */
.mybg-events1 {
  background: url("images/MG.jpg") no-repeat center center fixed;
  /* background: url("images/img4.jpg") no-repeat center center fixed;  */
  background-size: cover;
}
/* .top_div {
  width: 100%;
  height: 80px;
  color: #fff;
  background: #0f1103;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
} */
/* #peacock_1 {
  width: 270px;
} */
/* #peacock {
  width: 270px;
} */
/* #logo {
  width: 80px;
  height: 60px;
  margin: 10px;
  padding: 10px;
  text-align: center;
} */
#logo1 {
  width: 80px;
  height: 46px;
  /* background-color: red; */
  /* background: #000; */
  /* margin: 10px; */
  padding: 10px;
  text-align: center;
}
.nav_bar {
  height: 60px;
  width: 40%;
  /* background:green; */
  /* background:#FAFCEE; */
  text-transform: capitalize;
  font-size: 0.8rem;
  margin: 20px;
  padding: 10px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  /* box-shadow:20px 30px 28px -18px rgba(0,0,0,0.6); */
}
.gallery,
.gallery_placement {
  height: 1600px;
  width: 100%;
}
.memory {
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  font-size: 17px;
  margin-top: 25px;
  text-align: justify;
}
/* #gallerydiv {
  height: 500px;
  margin: 30px;
} */
#paragraphmemo {
  height: 150px;
  margin: 30px 50px 20px 50px;
}
#paragraph {
  /* width:350px; */
  height: 300px;
  margin-left: 120px;
  margin-right: 110px;
}
/* .image_div_1 {
  width: 100%;
  height: 700px;
  background: "#fff";
  padding: 20px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
} */
/* .underline {
  display: inline-block;
  position: relative;
  color: #0087ca;
}
.underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */

img {
  border-radius: 12px;
  box-shadow: 2px 10px 10px -6px #000;
}
/* .img_1 {
  margin: 10px;
  margin-left: 5px;
  text-align: justify;
  border: 2px solid whitesmoke;
  border-radius: 7px;
} */
/* .img_1:hover {
  box-shadow: 10px 30px 28px -18px rgba(0, 0, 0, 0.6);
  transform: scale(1.05, 1.05);
  border-radius: 20px;
} */

/* #para {
  width: 250px;
  height: 270px;
  padding: 20px;
  color: #000;
} */

/* .gallery_div { */
  /* width: 100%; */
  /* height: 550px;
  background-image: url("images/InCerS_newlogo.png");
  background-size: cover;

  overflow-x: hidden;
  object-fit: contain;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: difference; */
/* } */

/* .gallery_div {
  width: 100%;
  height: 500px;
  justify-content: center;
  background-image: url("images/ICS.jpeg");
  background-size:cover ;
  overflow-x: hidden;
  object-fit: contain;
  background-repeat: no-repeat;

} */
.gallery_div_placement {
  width: 100%;
  height: 500px;
  /* background:#FAFCEE; */
  display: flex;
  justify-content: center;
  background-image: url("images/placement.jpeg");
  background-size: 100% 100%;
  overflow-x: hidden;
  object-fit: contain;
  background-repeat: no-repeat;
  /* background-color: rgba(0, 0, 0, 0.7); */
  /* background-blend-mode: darken; */
}
/* #onion {
  border-radius: 0;
  box-shadow: none;
  width: 100%;
} */
/* .img_4{
  /* margin:auto; */
/* }  
/* .img_4:hover{
  box-shadow:10px 30px 28px -18px rgba(0,0,0,0.6);
  transform:scale(1.05,1.05);
  border-radius: 30px;
} */

/* .flash_1 {
  display: flex;
  padding-left: 320px;
  padding-top: 50px;
  color: #000;
} */
.flash_2 {
  display: flex;
  padding-left: 320px;
  padding-top: 50px;
  /* color:#fff; */
  color: #000;
}
/* #flash_inside {
  margin-bottom: 30px;
} */
/* .image_div_2 {
  width: 100%;
  height: 700px;
  background: "#fff";
  padding: 20px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
} */
/* .img_2 {
  margin: 10px;
  text-align: justify;
  border: 2px solid whitesmoke;
  border-radius: 7px;
} */
/* .img_2:hover {
  box-shadow: 10px 30px 28px -18px rgba(0, 0, 0, 0.6);
  transform: scale(1.05, 1.05);
  border-radius: 20px;
} */
/* #para1 {
  width: 280px;
  height: 280px;
  padding: 20px;
  color: #000;
} */
.social_media_part {
  width: 100%;
  height: 200px;
}
/* .logo_part {
  height: 80px;
  background: #000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
} */
#logoimg {
  height: 60px;
}
/* .img_3 {
  margin: 20px;
} */

/* .img_3 img:hover {
  cursor: pointer;
  box-shadow: 10px 20px 18px -18px rgba(0, 0, 0, 1);
  transform: scale(0.5, 0.5);
} */
.end_bar {
  height: 130px;
  /* background: #adbf97; */
  /* background:#565264; */
  background: #000;
  /* margin:10px */
  padding: 55px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.info_div {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* #proff1 {
  text-align: center;
  margin: 10px;
} */
.nav_hover {
  color: whitesmoke;
}
.nav_hover_1 {
  color: orange;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Roboto Mono", monospace;
}
.nav_hover:hover {
  color: aqua;
  cursor: pointer;
  /* background-color: aqua; */
}
.nav_hover_1:hover {
  color: aqua;
  cursor: pointer;
}
.proffimage {
  display: flex;
  height: 510px;
}
.imagediv {
  height: 350px;
  width: 20%;
  margin: 30px;
  margin-left: 50px;
}
.imagediv img {
  width: 350px;
  height: 400px;
  /* margin-left :7% */
}
.infodiv1 {
  /* border: 2px solid rgba(0, 0, 0, 0.4); */
  width: 40%;
  text-align: justify;
  font-size: 20px;
  margin: 40px;
  margin-left: 60px;
  height: 300px;
}
.section {
  font-size: 20px;
}
.hello_div .nav_hover {
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Roboto Mono", monospace;
}
.hello_div .menu_1 {
  display: none;
}

.hello_div:hover .menu_1 {
  display: block;
  position: absolute;
  margin-top: 15px;
  margin-left: 5px;
}
.hello_div:hover .menu_1 ul {
  display: block;
  margin: 10px;
}
.hello_div:hover .menu_1 ul li {
  width: 120px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
}

@media (min-width: 770px) and (max-width: 1050px) {
  /* .family1 {
    width: 1000px;
  } */
  .proffimage {
    height: 550px;
    width: 1000px;
  }
  .imagediv {
    height: 450px;
    width: 35%;
    margin: 30px;
  }
  .infodiv1 {
    width: 500px;
    font-size: 20px;
    margin: 40px;
    height: 500px;
  }

  .section {
    width: 900px;
    padding-left: 25px;
    color: blue;
    font-size: 25px;
    text-align: justify;
  }
  /* .image_div_1,
  .image_div_2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
  /* .top_div {
    width: 1000px;
  } */
  .gallery_div,
  .gallery_div_placement {
    width: 1000px;
    height: 450px;
  }
  /* .gallery {
    width: 1000px;
    height: 2600px;
  } */
  .gallery_placement {
    width: 1000px;
    height: 2200px;
  }
  #gallerydiv {
    height: 700px;
    width: 900px;
    margin: 20px;
  }
  .social_media_part {
    width: 100%;
    height: 200px;
  }
  #paragraph {
    font-size: 20px;
  }
  #paragraphmemo {
    font-size: 20px;
    height: 300px;
  }
  /* #heading {
    font-size: 35px;
  } */
}
@media (max-width: 768px) {
  /* .logo_part .img_3 .fa-facebook,
  .fa-instagram,
  .fa-linkedin {
    font-size: 2rem;
    color: #fff;
    margin: 5px;
  } */
  /* .flash_1 {
    display: inline-block;
    padding-left: 90px;
    padding-top: 30px;
    padding-bottom: 70px;
    color: #000;
  } */
  .flash_2 {
    display: inline-block;
    /* padding-left: 120px; */
    padding-left: 90px;
    padding-top: 50px;
    /* padding-top: 120px; */
    /* padding-bottom: 50px; */
    padding-bottom: 15px;
    /* color:#fff; */
    color: #000;
  }
  /* #flash_inside {
    margin-bottom: -35px;
    margin-top: 15px;
  } */
  #flash_inside1 {
    margin-bottom: 15px;
    margin-top: -10px;
  }
  .proffimage {
    display: block;
    height: 900px;
    width: 100%;
    padding-right: 15px;
  }
  .imagediv {
    height: 470px;
    margin: 30px;
    border: none;
  }
  .imagediv img {
    height: 450px;
    margin-left: 50%;
    width: 300px;
  }
  /* .main_div {
    width: 107% !important;
  } */
  .infodiv1 {
    width: 90%;
    font-size: 20px;
    font-weight: bold;
    margin: 40px;
    height: 450px;
  }

  .section {
    width: 90%;
    padding-left: 5px;
    height: 4600px;
    color: blue;
    font-size: 18px;
    text-align: justify;
  }
  /* .image_div_1,.image_div_2,.gallery_div{
      display:flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-size: 100% 100%;
 } */
  /* #heading {
    font-size: 25px;
  } */
  .headingname {
    font-size: 25px;
    margin-top: 120px;
  }
  .gallery_div,
  .gallery_div_placement {
    width: 100%;
    height: 300px;
  }
  /* .gallery {
    width: 90%;
    height: 3000px;
  } */
  .gallery_placement {
    width: 90%;
    height: 1600px;
  }
  #gallerydiv {
    height: 600px;
    width: 90%;
    margin: 20px;
  }
  #paragraph {
    font-size: 17px;
    margin-left: 10px;
    width: 107%;
  }
  #paragraphmemo {
    width: 90%;
    font-size: 21px;
    height: 1120px;
  }
  /* .image_div_1,
  .image_div_2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  } */
  /* .img_1,
  .img_2 {
    margin-left: 8%;
    padding-top: 30px;
    margin-bottom: -25px;
    width: 100%;
    height: 500px;
    border: 0px;
    border-radius: 20px;
  } */
  /* #peacock {

    width: 70%;
    
    height: 400px;
    margin-left: 35px;
    border: 2px solid white;
    padding: 2px;
    
  } */
  /* #peacock_1 {
    width: 70%;
    height: 400px;
    margin-left: 35px;
    border: 2px solid white;
    padding: 2px;
  } */

  /* #para,
  #para1 {
    margin-left: 90px;
    width: 600px;
    font-size: 40px;
  } */
  /* #proff1 {
    margin-top: 40px;
    height: 100px;
    font-size: 60px;
  } */
  .flash_1,
  .flash_2 {
    display: inline-block;
    font-size: 15px;
  }
  /* .top_div {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    font-size: 22px;
  } */
  /* #logo {
    margin: auto;
  } */
  .nav_bar,
  .info_div {
    /* font-size: 23px;; */
    font-size: 11px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: auto;
    /* padding:30px; */
  }
  #logoimg {
    height: 50px;
    margin-top: -10px;
    border-radius: 7px;
  }
  .nav_hover
  {
    padding: 15px;
  }
  .nav_hover_1 {
    margin: 6px;
    margin-top: 4px;
    font-size: 20px;
  }
  .end_bar {
    height: 100px;
    /* width: 1000px; */
    width: 100%;
  }
  /* .logo_part {
    height: 70px;
    width: 100%;
  } */
  .social_media_part {
    width: 100%;
    height: 350px;
  }
}
@media (max-width: 479px) {
  /* .logo_part .img_3 .fa-facebook,
  .fa-instagram,
  .fa-linkedin {
    font-size: 2rem;
    color: #fff;
    margin: 5px;
  } */

  /* .flash_1 {
    display: inline-block;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #000;
  } */
  .flash_2 {
    display: inline-block;
    /* padding-left: 120px; */
    padding-left: 70px;
    padding-top: 50px;
    /* padding-top: 120px; */
    /* padding-bottom: 50px; */
    padding-bottom: 0px;
    /* color:#fff; */
    color: #000;
  }
  /* #flash_inside {
    margin-bottom: -35px;
    margin-top: -6px;
    font-size: 11px;
  } */
  #flash_inside1 {
    margin-bottom: 15px;
    margin-top: -30px;
  }
  .proffimage {
    display: block;
    height: 1000px;
    width: 90%;
  }
  .imagediv {
    height: 420px;
    /* margin: 30px; */
    border: none;
  }
  .imagediv img {
    height: 400px;
    margin-left: 40%;
    width: 250px;
  }

  /* .main_div {
    width: 100%;
  } */
  .infodiv1 {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    height: 1000px;
    margin-left: 25px;
    margin-right: 10px;
  }

  .section {
    width: 85%;
    padding-left: 1px;
    color: blue;
    font-size: 17px;
    text-align: justify;
  }
  /* .image_div_1,.image_div_2,.gallery_div{
      display:flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-size: 100% 100%;
 } */
  /* #heading {
    font-size: 25px;
  } */
  .headingname {
    font-size: 25px;
    margin-top: 120px;
  }
  .gallery_div,
  .gallery_div_placement {
    width: 100%;
    height: 250px;
  }
  /* .gallery {
    width: 90%;
    height: 3400px;
  } */
  /* .gallery_placement{
    width: 90%;
    height: 3400px;
  } */
  /* #gallerydiv {
    height: 820px;
    width: 90%;
  } */
  #paragraph {
    width: 107%;
    font-size: 18px;
    margin-left: 3px;
    /* margin-right:-2px; */
  }
  #paragraphmemo {
    width: 100%;
    margin-left: 20px;
    /* margin-right:2px; */
    font-size: 20px;
    height: 1050px;
  }
  /* .image_div_1,
  .image_div_2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  } */
  /* .img_1,
  .img_2 {
    margin-left: 7%;
    padding-top: 10px;
    margin-bottom: -25px;
    width: 100%;
    height: 500px;
    border: 0px;
    border-radius: 20px;
  } */
  /* #peacock {
    width: 80%;
    
    height: 400px;
    margin-left: 15px;
    border: 2px solid white;
    padding: 2px;
    
  } */
  /* #peacock_1 {
    width: 80%;
    height: 400px;
    margin-left: 15px;
    border: 2px solid white;
    padding: 2px;
  } */

  /* #para,
  #para1 {
    margin-left: 90px;
    width: 600px;
    font-size: 40px;
  } */
  /* #proff1 {
    margin-top: 40px;
    height: 100px;
    font-size: 60px;
  } */
  .flash_1,
  .flash_2 {
    display: inline-block;
    font-size: 15px;
  }
  /* .top_div {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    font-size: 18px;
  } */
  /* #logo {
    margin-top: 0.3rem;
    margin-left: -3px;
    width: 20%;
  } */
  .nav_bar,
  .info_div {
    /* font-size: 23px;; */
    width: 80%;
    font-size: 5px;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-around; */
    text-align: center;
    /* margin: auto; */
    /* padding:30px; */
  }
  #logoimg {
    height: 45px;
    margin-top: -15px;
    border-radius: 7px;
  }
  .nav_hover
  {
    font-size: 14px;
  }
  /* .img_3 {
    padding: 15px;
  } */
  .nav_hover_1 {
    margin: 6px;
    margin-top: 4px;
    font-size: 18px;
  }
  .end_bar {
    height: 100px;
    /* width: 1000px; */
    width: 100%;
  }
  /* .logo_part {
    height: 60px;
    width: 100%;
  } */
  .social_media_part {
    width: 100%;
    height: 170px;
  }
}
@media (max-width: 330px) {
  /* .logo_part .img_3 .fa-facebook,
  .fa-instagram,
  .fa-linkedin {
    font-size: 1.5rem;
    color: #fff;
    margin: 7px;
  } */

  /* .flash_1 {
    display: inline-block;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 70px;
    color: #000;
  } */
  .flash_2 {
    display: inline-block;
    /* padding-left: 120px; */
    padding-left: 70px;
    padding-top: 50px;
    /* padding-top: 120px; */
    /* padding-bottom: 50px; */
    padding-bottom: 10px;
    /* color:#fff; */
    color: #000;
  }
  /* #flash_inside {
    margin-bottom: -45px;
    margin-top: -2px;
    font-size: 11px;
    margin-left: -14px;
  } */
  #flash_inside1 {
    margin-bottom: 15px;
    margin-top: -30px;
  }
  .proffimage {
    display: block;
    height: 1000px;
    width: 90%;
  }
  .imagediv {
    height: 420px;
    /* margin: 30px; */
    border: none;
  }
  .imagediv img {
    height: 400px;
    margin-left: 40%;
    width: 250px;
  }

  /* .main_div {
    width: 100%;
  } */
  .infodiv1 {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    height: 1000px;
    margin-left: 25px;
    margin-right: 10px;
  }

  .section {
    width: 85%;
    padding-left: 1px;
    color: blue;
    font-size: 17px;
    text-align: justify;
  }
  /* .image_div_1,.image_div_2,.gallery_div{
      display:flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-size: 100% 100%;
 } */
  /* #heading {
    font-size: 25px;
  } */
  .headingname {
    font-size: 20px;
    margin-top: 120px;
  }
  .gallery_div,
  .gallery_div_placement {
    width: 100%;
    height: 300px;
  }
  /* .gallery {
    width: 90%;
    height: 4050px;
  } */
  /* .gallery_placement {
    width: 90%;
    height: 4050px;
  } */
  /* #gallerydiv {
    height: 1150px;
    width: 90%;
  } */
  #paragraph {
    width: 107%;
    font-size: 20px;
    margin-left: 3px;
    /* margin-right:-2px; */
  }
  #paragraphmemo {
    width: 100%;
    margin-left: 20px;
    /* margin-right:2px; */
    font-size: 20px;
    height: 1200px;
  }
  /* .image_div_1,
  .image_div_2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  } */
  /* .img_1,
  .img_2 {
    margin-left: 7%;
    padding-top: 10px;
    margin-bottom: -25px;
    width: 100%;
    height: 400px;
    border: 0px;
    border-radius: 20px;
  } */
  /* #peacock {
    
    width: 80%;
    
    height: 330px;
    margin-left: 15px;
    border: 2px solid white;
    padding: 2px;
    
  } */
  /* #peacock_1 {
    width: 80%;
    height: 330px;
    margin-left: 15px;
    border: 2px solid white;
    padding: 2px;
  } */

  /* #para,
  #para1 {
    margin-left: 90px;
    width: 600px;
    font-size: 40px;
  } */
  /* #proff1 {
    margin-top: 40px;
    height: 100px;
    font-size: 60px;
  } */
  .flash_1,
  .flash_2 {
    display: inline-block;
    font-size: 10px;
  }
  /* .top_div {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    font-size: 18px;
  } */
  /* #logo {
    margin-left: -3px;
    width: 20%;
  } */
  .nav_bar,
  .info_div {
    /* font-size: 23px;; */
    width: 80%;
    font-size: 5px;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-around; */
    text-align: center;
    /* margin: auto; */
    /* padding:30px; */
  }
  #logoimg {
    height: 45px;
    margin-top: -15px;
    border-radius: 7px;
  }
  .nav_hover {
    font-size: 11px;
  }
  /* .img_3 {
    padding: 15px;
  } */
  .nav_hover_1 {
    margin: 6px;
    margin-top: 4px;
    font-size: 15px;
  }
  .end_bar {
    height: 100px;
    /* width: 1000px; */
    width: 100%;
  }
  /* .logo_part {
    height: 60px;
    width: 100%;
  } */
  .social_media_part {
    width: 100%;
    height: 170px;
  }
}
@media (min-width: 1048px) {
  .img_1:hover {
    box-shadow: 10px 30px 28px -18px rgba(0, 0, 0, 0.6);
    transform: scale(1.05, 1.05);
    border-radius: 20px;
  }
  /* .img_2:hover {
    box-shadow: 10px 30px 28px -18px rgba(0, 0, 0, 0.6);
    transform: scale(1.05, 1.05);
    border-radius: 20px;
  } */
  #paragraphmemo {
    font-size: 22px;
    height: 250px;
  }
  #paragraph {
    font-size: 18px;
  }
}
.imagediv {
  width: 30%;
}

.headingname {
  animation: type 6s steps(31);
  overflow: hidden;
  white-space: nowrap;
  animation-iteration-count: infinite;
}
@keyframes type {
  0% {
    width: 0ch;
  }
  50% {
    width: 25ch;
  }
  100% {
    width: 0ch;
  }
}
nav {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
nav .mainMenu {
  display: flex;
  list-style: none;
}
nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.3rem;
}
nav .mainMenu li a:hover {
  background: rgb(255, 94, 0);
}
nav .openMenu {
  font-size: 1.4rem;
  margin: 10px;
  margin-left: 200px;
  display: none;
  cursor: pointer;
}
nav .mainMenu .closeMenu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
.fa-facebook:hover {
  color: rgb(0, 110, 255);
}
.fa-instagram:hover {
  color: rgb(255, 0, 191);
}
.fa-linkedin:hover {
  color: rgb(255, 123, 0);
}

nav .logo {
  margin: 6px;
  font-size: 5px;
  cursor: pointer;
}
@media (max-width: 800px) {
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #454343;
    transition: top 1s ease;
    display: none;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: block;
  }
  nav .mainMenu li a:hover {
    background: none;
    color: rgb(255, 123, 0);
    font-size: 1.6rem;
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden !important;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
  outline: none !important;
  color: #fff;
}

.border-shape {
  background: #ffbe00 none repeat scroll 0 0;
  color: #fff;
  display: block;
  height: 3px;
  left: 0;
  margin: 20px auto;
  position: relative;
  right: 0;
  text-align: center;
  top: 0;
  width: 80px;
}

.border-shape::before {
  background: #ffbe00 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  left: 80px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 100px;
}

.border-shape::after {
  background: #ffbe00 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  margin: 0 auto;
  position: absolute;
  right: 80px;
  text-align: center;
  top: 1px;
  width: 100px;
}

/*FOOTER*/
footer {
  width: 100%;
  background-color: #121619;
  color: #fff;
}

.top_header {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.top_header section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.top_header span {
  padding: 0 1rem;
}

.top_header .fa {
  color: #ffbe00;
  font-size: 35px;
}

footer .border-shape {
  width: 40%;
}

footer .border-shape::before {
  width: 100%;
  left: 120px;
}

footer .border-shape::after {
  width: 100%;
  right: 120px;
}

footer .bottom_content section {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: Center;
}

.bottom_content a {
  margin: 0 20px;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.5s;
}

.bottom_content a:hover {
  color: rgba(255, 255, 255, 1);
}

.copyright {
  padding: 0.8em 0;
  background-color: #1e1e1e;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
}

@media (max-width: 820px) {
  .top_header {
    padding: 1rem;
    display: block;
  }

  .top_header section {
    margin: 40px 0;
    align-items: left;
    justify-content: left;
  }
  footer .bottom_content section {
    padding: 1rem;
    display: block;
  }
  footer .bottom_content section a {
    padding: 1rem;
    font-size: 12px;
    margin: 0 5px;
    display: inline-block;
  }
}

/* .row.heading h2 {
  color: #fff;
  font-size: 52.52px;
  line-height: 95px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
} */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.heading.heading-icon {
  display: block;
}
.padding-lg {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}
.practice-area.padding-lg {
  padding-bottom: 55px;
  padding-top: 55px;
}
.practice-area .inner {
  border: 1px solid #999999;
  text-align: center;
  margin-bottom: 28px;
  padding: 40px 25px;
}
/* .our-webcoderskull .cnt-block:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border: 0;
} */
.practice-area .inner h3 {
  color: #3c3c3c;
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 10px 0;
}
.practice-area .inner p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.practice-area .inner img {
  display: inline-block;
}

/* .our-webcoderskull {
  background: url("http://www.webcoderskull.com/img/right-sider-banner.png")
    no-repeat center top / cover;
  background-size: 100% 100%;
} */
/* #candy {
  background: url("images/C.jpg") no-repeat center / cover;
} */
/* .our-webcoderskull .cnt-block {
  float: left;
  width: 100%;
  background: #fff;
  padding: 30px 20px;
  text-align: center;
  border: 2px solid #d5d5d5;
  margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure {
  width: 148px;
  height: 148px;
  border-radius: 100%;
  display: inline-block;
  margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img {
  width: 148px;
  height: 148px;
  border-radius: 100%;
}
.our-webcoderskull .cnt-block h3 {
  color: #2a2a2a;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-transform: uppercase;
}
.our-webcoderskull .cnt-block h3 a {
  text-decoration: none;
  color: #2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover {
  color: #337ab7;
}
.our-webcoderskull .cnt-block p {
  color: #2a2a2a;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}
.our-webcoderskull .cnt-block .follow-us {
  margin: 20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li {
  display: inline-block;
  width: auto;
  margin: 0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa {
  font-size: 24px;
  color: #767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover {
  color: #025a8e;
} */

.navbar-shrink {
  padding-top: 0;
  padding-bottom: 0;
}
.mybg-dark {
  background: #000000 !important;
}
header.masthead1 {
  position: relative;
  height: 686px;
  background-color: #343a40;
  background: url("https://yt3.ggpht.com/ytc/AKedOLTXJGtOK9aBUFyNu8Iat3_T-r73l8IknOLdTJlI=s900-c-k-c0x00ffffff-no-rj")
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead1 {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.6;
}

@media (min-width: 768px) {
  header.masthead1 {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead1 h3 {
    font-size: 4rem;
  }
  @media (max-width: 768px) {
    header.masthead1 {
      padding-top: 12rem;
      padding-bottom: 12rem;
      height: 200px;
    }
  }
}
/* header.masthead {
  position: relative;
  height: 500px;
  background-color: #343a40;
  background: url("images/job.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
} */

/* @media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h3 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
    height: 330px
  }
} */
/* header.masthead1 {
  position: relative;
  height: 100vh;
  background-color: #343a40;
  background: url("https://yt3.ggpht.com/ytc/AKedOLTXJGtOK9aBUFyNu8Iat3_T-r73l8IknOLdTJlI=s900-c-k-c0x00ffffff-no-rj")
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
} */

/* header.masthead1 .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
} */

@media (min-width: 768px) {
  header.masthead1 {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead1 h3 {
    font-size: 4rem;
  }
}

/* .testimonials {
  padding-top: 5rem;
  padding-bottom: 5rem;
} */

.myform-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button.btn.btn-light {
  position: absolute;
  background: transparent;
  border: none;
  height: 38px;
  right: 23px;
}

/* a.btn.btn-default.btn-scroll {
  border: 2px solid #f31010;
  color: #e55a5a;
  border-radius: 100%;
} */

/* .big-img img {
  height: 325px;
  width: 100%;
  object-fit: cover;
} */

/* .inner-section {
  position: relative;
} */
/* .container.slider-top-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.btn-login {
  width: 138px;
  background: #1fc6d8 !important;
  border: 1px solid #1fc6d8 !important;
}
.btn-login:hover {
  background: #3683a1 !important;
  border: 1px solid #1fc6d8 !important;
}
.mfa-white {
  color: #fff !important;
}

/* h3.my-heading {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
} */

/* p.myp-slider.text-center {
  color: #fff;
} */

.btn-register {
  width: 138px;
  background: #1fc6d8 !important;
  border: 1px solid #1fc6d8 !important;
}

.btn-register:hover {
  background: #3683a1 !important;
  border: 1px solid #1fc6d8 !important;
}

/* .btn-join {
  background: #1fc6d8 !important;
  border: 1px solid #1fc6d8 !important;
} */

section#about {
  width: 100%;
  padding-top: 2.1rem;
  padding-bottom: 2.1rem;
}

.btn-circle {
  border-radius: 50%;
}

.my-social-btn {
  background: lightgrey;
}

/* .card:hover .my-social-btn.fb {
  background: #205b9f;
}
.card:hover .my-social-btn.twitter {
  background: #00ace3;
}
.card:hover .my-social-btn.google {
  background: #ff3921;
} */
/*
a.btn.btn-circle.my-social-btn.fb:hover {
  background: #205b9f;
}

a.btn.btn-circle.my-social-btn.twitter:hover {
  background: #00ace3;
}

a.btn.btn-circle.my-social-btn.google:hover {
  background: #ff3921;
}
*/
a.btn.btn-circle.my-social-btn {
  color: #fff;
  height: 40px;
  width: 40px;
}

/* .inner-section h3 {
  text-transform: uppercase;
  font-weight: bold;
} */

/* .inner-section h3:after {
  content: "";
  position: absolute;
  border-bottom: 4px solid #008ba3;
  width: 100%;
  max-width: 10%;
  top: 37px;
  left: 0;
} */
/* span.bg-main {
  color: #2cedd5;
} */

hr.my-border {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid #008ba3;
  width: 117px;
}

/* .linear-grid img {
  width: 100%;
  height: 124px;
  object-fit: cover;
} */

.mybg-events {
  background: url("https://images.pexels.com/photos/167491/pexels-photo-167491.jpeg?auto=compress&cs=tinysrgb&h=650&w=940")
    no-repeat center center fixed;
  background-size: cover;
}
.mybg-events1 {
  /* background: url("https://images.pexels.com/photos/167491/pexels-photo-167491.jpeg?auto=compress&cs=tinysrgb&h=650&w=940") */
    /* no-repeat center center fixed; */
  background-size: cover;
}

.h-262 {
  height: 262px !important;
}

h3.title-heading.text-center {
  color: #fff;
  font-weight: bold;
}

/* p.myp.text-center {
  color: #fff;
  font-size: 14px;
  margin-bottom: 3rem;
} */

.big-img2 img {
  height: 472px;
  width: 100%;
  object-fit: cover;
}

.my-grid img {
  height: 228px;
  width: 100%;
  object-fit: cover;
}

.text-block {
  min-height: 228px;
  height: auto;
  background: #fff;
  padding: 15px;
}

h5.events-heading {
  font-weight: bold;
  font-size: 17px;
}

/* p.myp-font {
  font-size: 15px;
} */

section#group {
  background: #fff;
  height: 100%;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* .card {
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  border: none !important;
  border-radius: 0.28571429rem;
}

.card:hover {
  color: #222 !important;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
} */

.card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none !important;
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  box-shadow: none;
}

.card-img-top {
  display: block;
  width: 100%;
  height: auto;
}

.card-title {
  /* font-size: 1.28571429em; */
  font-weight: 700;
  line-height: 1.2857em;
}

/* .card-text {
  clear: both;
  margin-top: 0.5em;
  color: rgba(0, 0, 0, 0.68);
} */

.card-footer {
  font-size: 1em;
  position: static;
  top: 0;
  left: 0;
  max-width: 100%;
  padding: 0.75em 1em;
  color: rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
  background: #fff;
}

.card-inverse .btn {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

/* .mybg-music {
  background: url("images/gallery.jpg") no-repeat center center fixed;
  background-size: cover;
} */

section#marketplace {
  background: #f7f7f7;
  height: 100%;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

section#marketplace{
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  border: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

section#artist {
  background: #fff;
  height: 100%;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

a.link-color {
  color: #008ba3;
  font-weight: bold;
}

.my-right-text {
  padding-top: 3rem;
}

/***music gallery***/

.gal-item {
  overflow: hidden;
}
.gal-item .box {
  overflow: hidden;
}
.box img {
  height: 160px;
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
/****/
.item {
  position: relative;
}
.item img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item:hover img {
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

/*sidebar navigation*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 36px;
  margin-right: 15px;
}
#main {
  display: none;
}
#main {
  float: right;
  transition: margin-right 0.5s;
}
a.openNav {
  font-size: 26px;
  color: #ffffff;
  text-decoration: none;
}
.sidenav .nav-link {
  font-size: 13px;
  font-weight: bold;
}
.mob-ul {
  list-style-type: none;
  padding-left: 0;
}
.sidenav li {
  padding: 0 3px !important;
  position: relative;
}
.sidenav li a {
  padding: 10px 15px;
  text-transform: uppercase;
}
.sidenav ul li:hover .nav-link {
  color: #008ba3;
}

li.nav-item a:hover {
  background: #008ba3;
  color: #ffffff !important;
}

/* .floating-arrow {
  -webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s;
  -o-animation: floating-arrow 1.6s infinite ease-in-out 0s;
  animation: floating-arrow 1.6s infinite ease-in-out 0s;
} */

/* @keyframes floating-arrow {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -webkit-transform: translateY(11px);
    transform: translateY(11px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
} */

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

li.list-inline-item a {
  color: #fff;
  text-decoration: none;
}

/*-------------------responsive-----------------*/

@media screen and (max-width: 520px) {
  ::placeholder {
    font-size: 10px;
  }
  .scroll-down {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 45px;
  }

  .text-block {
    padding: 15px;
  }
  /* .linear-grid img {
    width: 100%;
    height: 181px;
  } */
  .my-grid img {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .btn-login {
    width: 100%;
  }
  .btn-register {
    width: 100%;
  }
}

@media only screen and (min-width: 2560px) {
}
@media only screen and (min-width: 1600px) and (max-width: 1920px) {
  .navbar-toggler {
    display: none !important;
  }
}
@media only screen and (min-width: 1440px) {
  .navbar-toggler {
    display: none !important;
  }
}
@media only screen and (max-width: 1280px) {
  .navbar-toggler {
    display: none !important;
  }
}
@media only screen and (max-width: 1024px) {
  .navbar-toggler {
    display: none !important;
  }
  .mob-ul {
    list-style-type: none;
    padding-left: 0;
  }
  h5.events-heading {
    font-size: 15px;
  }
  /* p.myp-font {
    font-size: 13px;
  } */
}
@media only screen and (min-width: 960px) and (max-width: 1023px) {
  .navbar-toggler {
    display: none !important;
  }
  .mob-ul {
    list-style-type: none;
    padding-left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .navbar-toggler {
    display: none !important;
  }
  #main {
    display: block;
  }
  .header-wrap .navbar .nav-link {
    color: #fff;
  }
  .mob-ul {
    list-style-type: none;
    padding-left: 0;
  }
  .header-wrap .sub-menu {
    width: 250px;
  }
}

@media only screen and (max-width: 736px) and (orientation: landscape) {
  .navbar-toggler {
    display: none !important;
  }
  #main {
    display: block;
  }
  .header-wrap .navbar .nav-link {
    color: #fff;
  }
  .mob-ul {
    list-style-type: none;
    padding-left: 0;
  }
  .header-wrap .sub-menu {
    width: 250px;
  }
}
@media only screen and (max-width: 667px) and (orientation: landscape) {
  .navbar-toggler {
    display: none !important;
  }
  #main {
    display: block;
  }
  .header-wrap .navbar .nav-link {
    color: #fff;
  }
  .mob-ul {
    list-style-type: none;
    padding-left: 0;
  }
  .header-wrap .sub-menu {
    width: 250px;
  }
}
@media only screen and (max-width: 568px) and (orientation: landscape) {
  .navbar-toggler {
    display: none !important;
  }
  #main {
    display: block;
  }
  .header-wrap .navbar .nav-link {
    color: #fff;
  }
  .mob-ul {
    list-style-type: none;
    padding-left: 0;
  }
  .header-wrap .sub-menu {
    width: 250px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  h5.events-heading {
    font-size: 20px;
  }
  /* p.myp-font {
    font-size: 15px;
  } */
  .navbar-toggler {
    display: none !important;
  }
  #main {
    display: block;
  }
  .header-wrap .navbar .nav-link {
    color: #fff;
  }
  .mob-ul {
    list-style-type: none;
    padding-left: 0;
  }
  .header-wrap .sub-menu {
    width: 250px;
  }
  .box img {
    height: 100%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 599px) {
  /* .inner-section h3 {
    font-size: 18px;
  }
  .inner-section p {
    font-size: 13px;
    text-align: justify;
  } */
  h5.events-heading {
    font-size: 15px;
  }
  section#marketplace img {
    object-fit: cover;
  }
  .navbar-toggler {
    display: none !important;
  }
  #main {
    display: block;
  }
  .header-wrap .navbar .nav-link {
    color: #fff;
  }
  .mob-ul {
    list-style-type: none;
    padding-left: 0;
  }
  .header-wrap .sub-menu {
    width: 250px;
  }
  .box img {
    height: 100%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 479px) {
  /* .inner-section h3 {
    font-size: 18px;
  }
  .inner-section p {
    font-size: 13px;
    text-align: justify;
  } */
  h5.events-heading {
    font-size: 15px;
  }
  section#marketplace img {
    object-fit: cover;
  }
  .navbar-toggler {
    display: none !important;
  }
  #main {
    display: block;
  }
  .header-wrap .navbar .nav-link {
    color: #fff;
  }
  .mob-ul {
    list-style-type: none;
    padding-left: 0;
  }
  .header-wrap .sub-menu {
    width: 250px;
  }
  .box img {
    height: 100%;
  }
}
@media only screen and (max-width: 568px) and (orientation: landscape) {
  .navbar-toggler {
    display: none !important;
  }
  #main {
    display: block;
  }
  .header-wrap .navbar .nav-link {
    color: #fff;
  }
  .mob-ul {
    list-style-type: none;
    padding-left: 0;
  }
  .header-wrap .sub-menu {
    width: 250px;
  }
  .box img {
    height: 100%;
  }
}
@media only screen and (max-width: 320px) {
  
  h5.events-heading {
    font-size: 15px;
  }
  section#marketplace img {
    object-fit: cover;
  }
  .navbar-toggler {
    display: none !important;
  }
  #main {
    display: block;
  }
  .header-wrap .navbar .nav-link {
    color: #fff;
  }
  .mob-ul {
    list-style-type: none;
    padding-left: 0;
  }
  .header-wrap .sub-menu {
    width: 250px;
  }
  .box img {
    height: 100%;
  }
}
